.header{
    width:92vw;
    height: 5.5rem;
   
    padding-top: 2rem;
    
    margin-left: auto;
    margin-right: auto;
}

.navbar{
    
    width:100%;
    height:100%;
    padding: 0.625rem 1rem;
}
.nav-content{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

ul{
    display:flex;
    text-align: left;
    width:20rem;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 0;
    justify-content: space-around;
    
}

li{
    display:inline;


}

a{
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(71, 84, 103, 1);
}


.Admin_button{
    padding:0.75rem 1.25rem;
    display:inline;
    font-weight: 700;
    border: 1px solid rgba(96, 165, 250, 1);
    color:#6C8FF2;
    border-radius: 9999px;
    cursor:pointer;
}

button:hover{
    background-color:  rgb(29, 78, 216,1);
    color:white;
}

.home{
    color:rgba(0,122,255,1);
    font-weight: 600;
}

a:hover {
    
    color: #333; 
}